/* Contenedor general */
.book-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Título */
  .title {
    font-size: 2rem;
    color: #4dabf7;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #1c3d5a;
    font-size: 1rem;
    background-color: #1b263b;
    color: white;
  }
  
  .button {
    width: 50%;
    padding: 10px;
    background-color: #4dabf7;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    color: #0d1b2a;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.3s;
  }
  
  .button:hover {
    background-color: #68c3f7;
  }
  
.book-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; 
  }
  
  .book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112d4e;
    color: #f9f7f7;
    padding: 10px;
    margin: 8px 0; 
    border-radius: 5px;
  }
  
  .book-title {
    font-weight: bold;
    margin-right: 25px; 
    flex: 1;
    text-align: left;
  }
  
  .book-author {
    font-style: italic;
    margin-left: 10px; 
    flex: 1; 
    text-align: right; 
  }
  
  /* Botón de eliminar */
  .delete-button {
    background-color: #ff6b6b;
    border: none;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    transition: all 0.3s;
  }
  
  .delete-button:hover {
    background-color: #ff4c4c;
  }
    
  /* Mensaje de error */
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  